// Fonts Family

// Fonts Family End

// Fonts Import

// Fonts Import End

// Font Customization
h1, h2, h3, h4, h5, h6 {}
// Font Customization End

// Main Structure
body {}
// Main Structure End

// Typography Structure
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

h1 small {}
h2 small {}
h3 small {}
h4 small {}
h5 small {}
h6 small {}

p {}
i {}
b {}
em {}
strong {}
mark {}
del {}
ins {}
sub {}
sup {}


ul {}
ul li {}
ol {}
ol li {}

blockquote {}

dl {}
dl dt {}

a {
	&:link{}
	&:hover{}
	&:active{}
	&:visited{}
}
// Typography Structure End
